
.containerTop {
    background-image: url('/public/images/back6.jpg');
    height: 100vh;
    background-position: 50% 75%;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(2px); */
    position:sticky;
    background-color: black;
  
  }
  .overlay{

    height: 100%;
    width: 100%;
    background-color:  rgba(0, 0,0, 0.4);
  
  }
  .shouting {
    margin-top: 4vh;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .hero2 {
    font-size: 6rem;
    font-weight: 600;
    padding-left: 7rem;
    color: #ed5625ff  ;
  }
  .subHero {
    font-size: 1.5rem;
    width: 70%;
    margin-top: 2rem;
  }
  footer{
    width: 100%;
    margin: auto;
   background-image: none;
   background-color: black;
    font-size: 1.5rem;
    margin-top: 1px;
    
}
.footer{
  bottom: 0;
    width: 100%;
    height: 30vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 15rem;
     
}
.foot:hover{
  color: #ed5625ff  ;
}